<aside id="community-search">
    
    <a id="foldup" href="">收起</a>
    <h2>查看小区</h2>
    <div class="form-group" id="community-name-input">
    </div>
    <div class="form-inline form-group">

    
     <div class="location_selectors clearfix">
            <div class="location_selector" id="country-selector"></div>
         <div class="location_selector" id="province-selector"></div>
         <div class="location_selector" id="city-selector"></div>
         <div class="location_selector" id="district-selector"></div>
     </div>
        

<!--         <select name="country" class="form-control" id="country-selector">
            <option value=''>请选择</option>
        </select>
        <select name="province" class="form-control" id="province-selector">
            <option value=''>请选择</option>
        </select>
        <select name="city" class="form-control" id="city-selector">
            <option value=''>请选择</option>
        </select>
        <select name="district" class="form-control" id="district-selector">
            <option value=''>请选择</option>
        </select>
 -->



    </div>
    <div id="add-community">
        <button class="btn btn-primary btn-block" id="add_community">添加小区</button>
    </div>
    <hr>
    <div class="search-result">
        <ul class="list-unstyled" id="search-result-list">
        </ul>
    </div>
</aside>