<div class="row community_header">
    <div id="community_header" class="col-md-12"></div>
</div>
<div class="services_row clearfix">
    <div  class="col-xs-4 ">
        <div id="private_services" class="highlight"></div>
    </div>
    <div  class="col-xs-8">
        <div id="public_services" class="highlight">
            
        </div>
    </div>
</div>