<div class="row">
	<div class="col-md-6">
		<h1><%=communityname%></h1>
	</div>
	<div class="col-md-6">
		<div class="mcompany_info">
			<p class="mcompany_name"><%=name%></p>
			<p>
				<span>物管员用户名:</span><span class="contact_name"><%=contact_name%></span>
				<span>手机:</span><span class="contact_mobile"><%=contact_mobile%></span>
			</p>
			
		</div>
	</div>
</div>