<div class="row community_header">
	<div id="community_header" class="col-md-12"></div>
</div>
<div class="row services_row">
	<div id="private_services" class="col-md-4 highlight"></div>
	<div id="public_services" class="col-md-8"></div>
</div>