<p>物业自营<span class="center-text"><%=number%>个</span></p>
<div class="service_boxs clearfix">
    <div class="service_box">
        <div class="add_service">
            <div class="add-service-inner">
                <div class="synbol">+</div>
                <div class="add">添加</div>
            </div>
        </div>
    </div>
</div>