
<div class="row">
    <div class="col-xs-2">图灵猫服务</div>
    <div class="col-xs-4 pull-right">
        <p><span class="active">已开通<%= typeof active!='undefined'?active:0%></span><span class="inactive">未开通<%=typeof inactive!='undefined'?inactive:0%></span></p>
    </div>
</div>


<div class="service_boxs clearfix"></div>