<div class="modal-dialog">
    <div class="modal-content">
        <div class="sortable-view">
            
            
        </div>

        <button class="btn btn-danger" id="close">关闭</button>
    </div>
</div>