<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="clearfix details-wrapper">
            <div class="expand_panels">
                <div class="showCommunities expand_panel active">
                    <div class="text">小区信息</div>
                </div>
                <div class="showEditService expand_panel ">服务编辑</div>
            </div>
       <div class="tab-contents clearfix">
                <div class="tab-content service_communities active" id="service_communities">
           </div>
           <hr>
           <div class="tab-content edit_service" id="edit_service">
               
           </div>
       </div>
        </div>
    </div>
</div>